<header class="cabecalho ff-inter">
    <div class="logo">
      <img src="../../../assets/imagens/logo-memoteca.png" alt="Logo da aplicação Memoteca">
      <p>Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias.</p>
    </div>
    <img class="imagem" src="../../../assets/imagens/computador-cabecalho.png" alt="Imagem de um computador">
  </header> 