<footer>
    <small class="TextoCopyright ff-inter">&copy;
        2022 Grupo Alura. Todos os direitos reservados.
    </small>

    <img class="LogoRodape" src="../../../assets/imagens/logo-alura.png" alt="">
</footer>
